<% receipt_items.each do |receipt_item|%>
<tr id=<%= "receipt-table-item-#{receipt_item.id}" %>>
  <td class="hide">
    <%= text_field :receipt_item, :id, value: receipt_item.id, class: "hide item-table-id", size: 4 %>
  </td>

  <td class="receipt-td-align-left">
    <div class="btn-group">
      <%= save_button %> 
      <%= edit_button %>
      <%= cancel_edit_button %>
    </div>
  </td>

  <td class="td-centered"> <span><%= receipt_item.store_item.name %></span> </td>     
  <td class="td-centered"> 
    <% if receipt_item.store_item.category %>
    <span> <%= receipt_item.store_item.category.name %> </span>
    <% end %>
  </td>
  <td class="td-centered"> 
    <span class="item-table-quantity-text" id=<%="item_quantity_#{receipt_item.id}"%>> <%= string_to_int_or_float(receipt_item.quantity) %> </span>
    <%= text_field :receipt_item, :quantity, class: "hide item-table-quantity", size: 4 %>
</td>
  <td class="td-centered"> <span><%= receipt_item.store_item.weight %></span> </td>
  <td class="td-centered"> <span><%= receipt_item.store_item.volume %></span> </td>
  <td class="td-centered" %>
    <span class="item-table-price-text"id=<%="item_price_#{receipt_item.id}"%>><%= receipt_item.price %></span> 
    <%= text_field :receipt_item, :price, class: "hide item-table-price", size: 5 %>
  </td>
  <td>
    <%= delete_button  receipt_item.id%>
  </td>
</tr>
<% end %>
