<%= form_tag receipt_add_items_path(receipt: @receipt), remote: true do %>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @store_items.each do |item| %>
    <tr>
      <td><%= check_box_tag "item_ids[]", item.id, false, id: "item_id_#{item.id}" %></td>
      <td><%= item.name %></td>
      <td> <%= text_field_tag "store_item_price_#{item.id}", '', maxlength: 15, class: "form-control input-sm", placeholder: "$"%></td>
      <td> 
	<%= select_tag "quantity_item_#{item.id}", options_for_select(Hash[(1..10).map { |num| [num, "#{num}"]}]), class: "selectpicker required"%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag "Add Items", class: "btn btn-default", id: "modal-add-items" %>
<% end %>
