<% provide(:title, 'Create an item!') %>

<div class="row">
    <%= simple_form_for(:store_item, :url => {:action => "create"}, html: {class: 'form-horizontal' }) do |f| %> 
      <%= render 'shared/error_messages' %>
      
      <%= f.label :name, "Item's Name"%>
      <%= f.text_field :name, :class => "form-control"  %>

      <%= f.label :upc, "UPC"%>
      <%= f.text_field :upc, :class => "form-control"  %>

      <%= f.label :description, "Item Description" %>
      <%= f.text_area :description, :class => "form-control"  %>

      <%= f.label :price, "Price"%>
      <%= f.text_field :price, :class => "form-control"  %>

      <%= f.label :weight, "Weight"%>
      <%= f.text_field :weight, :class => "form-control"  %>

      <%= f.label :volume, "Volume" %>
      <%= f.text_field :volume, :class => "form-control"  %>

      <%= f.label :category_id, "Category" %>
      <%= collection_select(:store_item, :category_id, Category.all, :id, :name, prompt: true) %>

      <%= f.label :store_id, "Store" %>
      <%= collection_select(:store_item, :store_id, Store.all, :id, :name, prompt: true) %>

      <%= f.submit "Create Item!", class: "btn btn-large btn-primary" %>
    <% end %>
</div>
