<% provide(:title, 'GroceryWrangler') %>

<div class="jumbotron">
  <div class="container">
    <h1> Get Going With GroceryWrangler! </h1>
    <p> With GroceryWrangler you have the ability to easily track 
      your grocery purchasing habits.
      Simply create a receipt and add the items you bought to the receipt. 
      If you don't see an item you can easily create it!
    </p>

    <% if not signed_in? %>
    <p> 
      <a href=<%= signup_url %> class="btn btn-primary btn-lg" role="button"> Sign up now! &raquo; </a> 
    </p>
    <% end %>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
	    <%= image_tag("subheader-purchases.png", :alt => "", :class => "section-head") %>
      <h2>Track purchases</h2>
      <p>
	Check what price you've previously purchased items for and compare it with the price the stores are currently selling it for.
      </p>
      <p><a class="btn btn-default" href=<%= new_receipt_url %> role="button"> Get Started! &raquo;</a></p>
    </div>
    <div class="col-md-4">
	    <%= image_tag("subheader-trends.png", :alt => "", :class => "section-head") %>
      <h2>View seasonal trends</h2>
      <p> Under construction. </p>
      <p><a class="btn btn-default" href="#" role="button"> Get Started! &raquo;</a></p>
    </div>
    <div class="col-md-4">
	    <%= image_tag("subheader-lists.png", :alt => "", :class => "section-head") %>
      <h2>Create shopping lists</h2>
      <p> Under construction. </p>
      <p><a class="btn btn-default" href="#" role="button"> Get Started! &raquo;</a></p>
    </div>
  </div>
</div>
