<% receipt_items.each do |item|%>
  <tr>
    <td class="receipt-td-align-left">
      <div class="btn-group">
	<%= save_button %>
	<%= edit_button %>
	<%= cancel_edit_button %>
      </div>
    </td>

    <td class="td-centered"> <span><%= item.store_item.name %></span> </td>     
    <td class="td-centered"> 
      <% if item.store_item.category %>
        <span> <%= item.store_item.category.name %> </span>
      <% end %>
    </td>
    <td class="td-centered" id=<%="item_quantity_#{item.id}"%>> 
      <span> <%= string_to_int_or_float(item.quantity) %> </span></td>
    <td class="td-centered"> <span><%= item.store_item.weight %></span> </td>
    <td class="td-centered"> <span><%= item.store_item.volume %></span> </td>
    <td class="td-centered"> <span><%= item.price %></span> </td>
  </tr>
 <% end %>
