<% provide(:title, 'Create a receipt') %>

<div class="row">
  <div id="receipt-create" class="col-md-5 col-centered">
    <h2>Create a Receipt</h2>
    <%= simple_form_for(:receipt, :url => {:action => "create"}, html: {class: 'form-horizontal' }) do |f| %> 
      <%= render 'shared/error_messages' %>

      <%= f.label :date_purchased, "Date Purchased", :class => "string required control-label" %>
      <%= f.text_field :date_purchased, :class => "form-control", :data => {behaviour: 'datepicker'}  %>

      <%= f.label :notes %>
      <%= f.text_area :notes, :class => "form-control border-padding"  %>

      <div class="centered-text">
        <%= collection_select(:receipt, :store_id, Store.all, :id, :store_name, prompt: true) %>

        <%= f.submit "Create Receipt", class: "btn btn-large btn-primary", id: "create-receipt-submit" %>
      </div>
    <% end %>
  </div>
</div>
