<% provide(:title, 'Create a receipt') %>

<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for(:receipt, :url => {:action => "create"}, html: {class: 'form-horizontal' }) do |f| %> 
      <%= render 'shared/error_messages' %>

      <%= f.label :date_purchased, "Date Purchased"%>
      <%= f.text_field :date_purchased, :class => "form-control", :data => {behaviour: 'datepicker'}  %>

      <%= f.label :notes %>
      <%= f.text_area :notes, :class => "form-control"  %>

      <%= collection_select(:receipt, :store_id, Store.all, :id, :store_name, prompt: true) %>

      <%= f.submit "Create Receipt", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
