<%= provide(:title, 'Show Receipts') %>

<div class="row">
  <% if @receipt.store %>
    <h1> Purchased at <%= @receipt.store.name %> </h1>
  <% end %>

  <% if @receipt.date_purchased %>
    <h2> <%= @receipt.date_purchased.to_formatted_s(:long_ordinal)%> </h2>
  <% end %>
  <div id="receipt-total" class=".col-md-6">
    $<%= @receipt.total %>
  </div>
</div>

<%= add_item_button %>
<%= form_for(:receipt_item, url: receipt_items_path, html: { method: :patch }, remote: true) do |f| %>
  <%= f.hidden_field :id, id: "item-id" %>
  <%= f.hidden_field :quantity, id: "item-quantity" %>
  <%= f.hidden_field :price, id: "item-price" %>
<% end %>

<table class="table table-responsive table-hover" id="receipt-item-table">
  <thead>
    <%= render partial: 'item_table_header' %>
  </thead>
  <tbody>
    <%= render partial: '/receipt_items/item_table_entry', locals: { receipt_items: @receipt.receipt_items } %>
  </tbody>
</table>

