<%= provide(:title, 'Show Receipts') %>

<h2 class="no-top-margin">Purchased at</h2>
<div id="receipt-jumbotron" class="jumbotron">
  <div class="container">
    <% if @receipt.store %>
      <div class="centered-text">
        <h1 id="store-name-text"> <%= @receipt.store.name %> </h1>
      </div>
    <% end %>

    <% if @receipt.date_purchased %>
      <div class="centered-text">
        <h3> <%= @receipt.date_purchased.to_formatted_s(:long_ordinal)%> </h3>
      </div>
    <% end %>
    <h3 id="receipt-total" class="centered-text"> $<%= @receipt.total %> </h3>
  </div>
</div>

<%= add_item_button %>

<%= form_for(:receipt_item, url: receipt_items_path, html: { method: :patch }, remote: true) do |f| %>
  <%= f.hidden_field :id, id: "item-id" %>
  <%= f.hidden_field :quantity, id: "item-quantity" %>
  <%= f.hidden_field :price, id: "item-price" %>
<% end %>

<table class="table table-responsive table-hover" id="receipt-item-table">
  <thead>
    <%= render partial: 'item_table_header'%>
  </thead>
  <tbody>
    <%= render partial: '/receipt_items/item_table_entry', locals: { receipt_items: @receipt.receipt_items } %>
  </tbody>
</table>

