<%= provide(:title, 'Show Receipts') %>

<div class="row">

  <h1> Purchased at <%= @receipt.store.name %> </h1>
  <h2> <%= @receipt.date_purchased.to_formatted_s(:long_ordinal)%> </h2>
  <div class=".col-md-6">
    $<%= @receipt.total %>
  </div>
</div>

<!-- TODO: Refactor into helper! -->
<%= link_to(content_tag(:span, "", { :class => 'glyphicon glyphicon-plus'} ) + "Add Item", modal_category_selection_path(receipt: @receipt), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#selection-modal', :class => "btn btn-primary btn-lg btn-block", :id => 'add-item-btn'})%>

<table class="table" id="receipts-table">
  <tr>
    <th> Name </th>
    <th> Category </th>
    <th> Weight </th>
    <th> Volume </th>
    <th> Price </th>
  </tr>
  <%= render partial: 'shared/item_table_entry', locals: { receipt_items: @receipt.receipt_items } %>
</table>
